/*-- scss:defaults --*/



h1 {
  text-align: left;
  font-size: 30px; 
  font-weight: normal;
}

body {
  text-align: left;
  margin-left: 1px;
  font-family: "Garamond";
  font-size: 20px;
}

/*-- scss:rules --*/