/*-- scss:defaults --*/

h1 {
  text-align: left;
  font-size: 30px; 
  font-weight: normal;
}

h3 {
  text-align: left;
  font-size: 25px; 
  font-weight: normal;
  font-style: italic;
}

body {
  text-align: left;
  margin-left: 1px;
  font-family: "Garamond";
  font-size: 20px;
}

/*-- scss:rules --*/